
.page-wrapper {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
}

.header {
	margin: 0 auto;
	width: 100%;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(13, 13, 13, 1);
}

.header_logo-wrapper {
	width: 200px;
	height: 50px;
}

.main {
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(38, 38, 38, 1);
}

.task-area {
	width: 750px;
	height: 700px;
	margin-top: -27px;
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: transparent;
}

.input-area {
	width: 750px;
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.input-area_input {
	width: 603px;
	height: 54px;
	padding-left: 10px;
	border: none;
	border-radius: 8px;
	background-color: rgba(51, 51, 51, 1);
	color: rgba(38, 38, 38, 1);
}

.input-area_button {
	width: 125px;
	height: 52px;
	border: none;
	border-radius: 8px;
	background-color: rgba(30, 111, 159, 1);
	color: rgba(242, 242, 242, 1);
}




