.page-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(38, 38, 38, 1);
}

.task-area {
  margin: 0 auto;
  width: 750px;
  margin-top: -27px;
  position: relative;
  z-index: 2;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  background: transparent;
}

.all-tasks {
  margin: 0 auto;
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}